{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}

    <!-- Additional CSS to add here -->
    <!-- <link href="{% static 'css/project.css' %}" rel="stylesheet">-->

{% endblock %}



{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- listing topics here -->
            <div class="table-reponsive">
                <table class="table">
                  <tbody>
                  {% for topic in pagination.object_list %}
                      {% include 'home/partial/topic_description.html' %}
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <nav aria-label="..." >
                  <ul class="pagination">
                    <li class="page-item {%if not pagination.has_previous %} disabled {% endif %}">
                      <a class="page-link" href="?page={{pagination.number|add:'-1'}}" tabindex="-1">Previous</a>
                    </li>
                    {% if pagination_ext.remain_left %}
                        <li class="page-item"> <a class="page-link">...</a> </li>
                    {% endif %}
                    {% for p in pagination_ext.ex_range %}
                        <li class="page-item {% if pagination.number == p %} active {% endif %}"><a class="page-link" href="?page={{p}}{% if sort_by %}&sortBy={{sort_by}} {% endif %}">{{p}}</a></li>
                    {% endfor %}
                    {% if pagination_ext.remain_right %}
                        <li class="page-item"> <a class="page-link">...</a>  </li>
                    {% endif %}
                    <li class="page-item {%if not pagination.has_next %} disabled {% endif %}">
                      <a class="page-link" href="?page={{pagination.number|add:'1'}}{% if sort_by %}&sortBy={{sort_by}} {% endif %}">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>
    </div>
    </div>
    </div>


{% endblock %}


{% block javascript %}
    {{ block.super }}

    <script>
        var url_upvote_topic = "{% url 'services:topic_upvote' %}"
    </script>
    <!-- Additional JS to add here -->
    <script src="{% static 'js/upvotes.js' %}"></script>
    <!--<script src="{% static 'js/pagination.js' %}"></script>-->

{% endblock %}