{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}

    <!-- Additional CSS to add here -->
    <!-- <link href="{% static 'css/project.css' %}" rel="stylesheet">-->

{% endblock %}



{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- listing topics here -->
            <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
              <tbody>
              {% for topic in pagination.object_list %}
                  <tr class="athing" id="16647565">
                      <td class="title" valign="top" align="right"><span class="rank"></span></td>

                      <td class="votelinks" valign="top" style="padding-right: 10px">
                      {% if not topic.up_voted and user.username != ''%}
                          <center><a class="upvote_topic" id="up_{{topic.id}}" href="javascript:void(0)">
                              <div class="fa fa-caret-up" title="upvote"></div></a>
                          </center></td>
                      {% endif %}

                      <td class="title"><a href="{{ topic.url }}" class="storylink" rel="nofollow"><h4>{{ topic.title }}</h4></a>
                      </td></tr>

                  <tr><td colspan="2"></td>
                      <td class="subtext">
                        <span class="score" id="score_{{topic.id}}" upvotes='{{ topic.up_votes }}' >{{ topic.up_votes }} points</span> by <a href="users/{{ topic.user.username }}" class="hnuser">{{ topic.user.username }}</a>
                        <span class="age"><a href="services/topic/{{ topic.id }}/">{{ topic.created_at | date }}</a></span>
                      | <a href="services/topic/{{ topic.id }}/">{{ topic.comment_count }}&nbsp;comment</a>
                      </td>
                  </tr>
                <tr class="spacer" style="height:5px"></tr>
              {% endfor %}
              </tbody>
            </table>
            <div class="pagination-container">
                <nav aria-label="..." >
                  <ul class="pagination">
                    <li class="page-item {%if not pagination.has_previous %} disabled {% endif %}">
                      <a class="page-link" href="?page={{pagination.number|add:'-1'}}" tabindex="-1">Previous</a>
                    </li>
                    {% if pagination_ext.remain_left %}
                        <li class="page-item"> <a class="page-link">...</a> </li>
                    {% endif %}
                    {% for p in pagination_ext.ex_range %}
                        <li class="page-item {% if pagination.number == p %} active {% endif %}"><a class="page-link" href="?page={{p}}{% if sort_by %}&sortBy={{sort_by}} {% endif %}">{{p}}</a></li>
                    {% endfor %}
                    {% if pagination_ext.remain_right %}
                        <li class="page-item"> <a class="page-link">...</a>  </li>
                    {% endif %}
                    <li class="page-item {%if not pagination.has_next %} disabled {% endif %}">
                      <a class="page-link" href="?page={{pagination.number|add:'1'}}{% if sort_by %}&sortBy={{sort_by}} {% endif %}">Next</a>
                    </li>
                  </ul>
                </nav>
            </div>
    </div>
    </div>
    </div>


{% endblock %}


{% block javascript %}
    {{ block.super }}
  <!-- Additional JS to add here -->
    <script src="{% static 'js/upvotes.js' %}"></script>
    <script src="{% static 'js/pagination.js' %}"></script>

{% endblock %}