{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}

    <!-- Additional CSS to add here -->

{% endblock %}



{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- listing topics here -->

            <table class="itemlist" cellspacing="0" cellpadding="0" border="0">
              <tbody>
              {% for topic in topic_list %}
                  <tr class="athing" id="16647565">
                      <td class="title" valign="top" align="right"><span class="rank"></span></td>

                      <td class="votelinks" valign="top" style="padding-right: 10px">
                      <center><a class="upvoteme" id="up_{{topic.id}}" href="#">
                          <div class="fa fa-chevron-up" title="upvote"></div></a>
                      </center></td>
                      <td class="title"><a href="{{ topic.url }}" class="storylink" rel="nofollow">{{ topic.title }}</a>
                      </td></tr>

                  <tr><td colspan="2"></td>
                      <td class="subtext">
                        <span class="score" id="score_{{topic_id}}">{{ topic.upvotes }} points</span> by <a href="users/{{ topic.user.username }}" class="hnuser">{{ topic.user.username }}</a>
                        <span class="age"><a href="services/topic/{{ topic.id }}/">{{ topic.created_at | date }}</a></span>
                      | <a href="services/topic/{{ topic.id }}/">{{ topic.comment_count }}&nbsp;comment</a>
                      </td>
                  </tr>
                <tr class="spacer" style="height:5px"></tr>
              {% endfor %}

              </tbody>
            </table>

    </div>
    </div>
    </div>


{% endblock %}


{% block javascript %}
    {{ block.super }}
  <!-- Additional JS to add here -->
    <script>
    $(".upvoteme").click(function() {
        console.log("Hello")
        var topic_id = $(this).attr("id")
        console.log(topic_id)
        $.ajax({
            url: 'https://localhost:8000/services/topic/upvote/'+topic.,
            type: 'get',
            success: function(data) {
                alert(data);
            },
            failure: function(data) {
                alert('Got an error dude');
            }
        }
        });
      </script>

{% endblock %}