<tr>
  <td class="title" valign="top" align="right"><span class="rank"></span></td>

  <td class="votelinks" valign="top" style="padding-right: 10px">
  {% if not topic.up_voted and user.is_authenticated %}
      <center><a class="upvote_topic" id="up_{{topic.id}}" href="javascript:void(0)">
          <div class="fa fa-caret-up" title="upvote"></div></a>
      </center></td>
  {% endif %}

  <td class="title"><a href="{{ topic.url }}" class="storylink"><h4>{{ topic.title }}</h4></a>
  </td>
</tr>

<tr><td colspan="2"></td>
  <td class="subtext">
    <span class="score" id="score_{{topic.id}}" upvotes='{{ topic.up_votes }}' >{{ topic.up_votes }} points</span> by <a href="users/{{ topic.user.username }}" class="hnuser">{{ topic.user.username }}</a>
    <span class="age"><a href="{% url 'services:topic_detail' topic.id %}">{{ topic.created_at | date }}</a></span>
  | <a href="{% url 'services:topic_detail' topic.id %}">{{ topic.comment_count }}&nbsp;comment</a>
  </td>
</tr>
<tr class="spacer" style="height:30px"></tr>
