{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<table class="itemlist" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <!-- The topic details -->
      <tr class="athing" id="16647565">
          <td class="title" valign="top" align="right"><span class="rank"></span></td>

          <td class="votelinks" valign="top" style="padding-right: 10px">
          <center><a id="up_{{topic.id}}" href="{% url 'services:topic_upvote' topic.id %}">
              <div class="fa fa-chevron-up" title="upvote"></div></a>
          </center></td>
          <td class="title"><a href="{{ topic.url }}" class="storylink" rel="nofollow">{{ topic.title }}</a>
          </td></tr>

      <tr><td colspan="2"></td>
          <td class="subtext">
            <span class="score" id="score_{{topic_id}}">{{ topic.upvotes }} points</span> by <a href="users/{{ topic.user.username }}" class="hnuser">{{ topic.user.username }}</a>
            <span class="age"><a href="services/topic/{{ topic.id }}/">{{ topic.created_at | date }}</a></span>
          | <a href="services/topic/{{ topic.id }}/">{{ topic.comment_count }}&nbsp;comment</a>
          </td>
      </tr>
    <tr class="spacer" style="height:20px"></tr>
  </tbody>
</table>

<!-- The comment form -->
<form action="{% url 'services:create_comment' topic.id %}" method="post">
  {% csrf_token %}
  <textarea name="text" rows="6" cols="60"></textarea>
  <br>
  <br>
  <input value="add comment" type="submit">
</form>

<!-- The list of comments -->



{% endblock %}

